* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}
.App {
  height: 100vh;
  display: flex;
  width: 100vw;
  flex-direction: row;
}

.sidebar {
  width: 30vh;
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-bottom: 1px solid #555;
}

.map_page {
  width: 100%;
  background-color: #f7f7f7;
  padding: 20px;
  overflow-y: auto;
}
